[mariadb]

# General log settings
general_log = 1
slow_query_log = 1
general_log_file = /var/log/mysql/mysql.log
log_error = /var/log/mysql/error.log
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 4 # Amount of seconds for which a query is considered slow

# Log rotation settings
expire_logs_days = 25
max_binlog_size = 25M

# General settings
init-connect='SET NAMES utf8mb4'
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci
default-storage-engine=InnoDB
innodb_file_per_table=1

# Performance settings
max_allowed_packet = 268435456 
query-cache-type = 1 # To enable the queries cache that improves the SQL queries speed a lot
query-cache-size = 64M # Following query will show if it is working: SQL: SHOW VARIABLES LIKE 'query_cache_size';
innodb_buffer_pool_size = 256M # Important value. The bigger, the better. If you have ram, set it to 4G
sort_buffer_size=32M # Good values are between 8M to 64M
thread_cache_size=50 # The bigger the better
max_connections=500 # The bigger the better
