@import "../../css/global-vars.scss";

nav{
    width: 100%;
    min-height: 70px;
    color: $color-text-inverted-1;
    background-color: $color-bg-inverted-1;
    border-bottom: 2px solid $color-bg-inverted-2;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav section{
    font-size: 19px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding-right: 3%;
}

nav section p{
    color: $color-text-inverted-1;
    position: absolute;
    left: 3%;
    margin: 0px;
}

nav section a{
    text-decoration: none;
    margin-left: 5%;
    color: $color-text-inverted-4;
    transition: color 1s;
}

nav section a:hover{
    color: $color-text-inverted-1;
    text-decoration: underline;
}



@media (max-width: $tablet-max-width){
    
    nav section{
    
        font-size: 16px;
    }    
}


@media (max-width: $mobile-max-width){
    
    nav section{
    
        font-size: 14px;
    }
}