@import "global-vars.scss";


/* This font face structure covers most of the possible browsers */
@font-face {
  font-family: 'Roboto-Light';
  src: url('resources/fonts/Roboto-Light.woff2') format('woff2'),
       url('resources/fonts/Roboto-Light.woff') format('woff'),
       url('resources/fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('resources/fonts/Roboto-Regular.woff2') format('woff2'),
       url('resources/fonts/Roboto-Regular.woff') format('woff'),
       url('resources/fonts/Roboto-Regular.ttf') format('truetype');
}


body{
    font-family: Roboto-Regular, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-text-primary;
    background-color: $color-bg-primary;
}

main{
    width: 100%;
    min-height: 500px;
}

section{
   width: 100%;
   max-width: 1400px;
}
