$color-text-1: #505050;
$color-text-2: #737373;
$color-text-3: #c0c0c0;
$color-text-inverted-1: #fff;
$color-text-inverted-2: #b9e8ff;
$color-text-inverted-3: #668da0;
$color-text-inverted-4: #b6d9ea;

$color-link-1: #2c6ab9;
$color-link-2: #0070ff;
$color-link-3: #577aa9;

$color-bg-1: #f7f7f7;
$color-bg-2: #d8dbe9;
$color-bg-3: #e0e5e6;
$color-bg-4: #d3d4d4;
$color-bg-inverted-1: #222325;
$color-bg-inverted-2: #0e0e0e;
$color-bg-inverted-3: #2b2e3b;

$site-max-width: 1400px;
$tablet-max-width: 850px;
$mobile-max-width: 520px;