$color-text-primary: #505050;
$color-text-secondary: #737373;
$color-text-tertiary: #c0c0c0;
$color-text-inverted-primary: #fff;
$color-text-inverted-secondary: #b9e8ff;
$color-text-inverted-tertiary: #668da0;
$color-text-inverted-quaternary: #b6d9ea;

$color-link-primary: #2c6ab9;
$color-link-secondary: #0070ff;
$color-link-tertiary: #577aa9;

$color-bg-primary: #f7f7f7;
$color-bg-secondary: #d8dbe9;
$color-bg-tertiary: #e0e5e6;
$color-bg-quaternary: #d3d4d4;
$color-bg-inverted-primary: #222325;
$color-bg-inverted-secondary: #0e0e0e;
$color-bg-inverted-tertiary: #2b2e3b;

$site-max-width: 1400px;