@import "global-vars.scss";


/* This font face structure covers most of the possible browsers */
@font-face {
  font-family: 'Roboto-Light';
  src: url('resources/fonts/Roboto-Light.woff2') format('woff2'),
       url('resources/fonts/Roboto-Light.woff') format('woff'),
       url('resources/fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('resources/fonts/Roboto-Regular.woff2') format('woff2'),
       url('resources/fonts/Roboto-Regular.woff') format('woff'),
       url('resources/fonts/Roboto-Regular.ttf') format('truetype');
}


body{
    font-family: Roboto-Regular, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-text-1;
    background-color: $color-bg-1;
}

main{
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    max-width: $site-max-width;
    width: 96%;
    padding-left: 2%;
}

h1{
    font-family: Roboto-Light, sans-serif;
    color: $color-text-1;
    font-size: 36px;
    font-weight: lighter;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

h4{
    font-family: Roboto-Light, sans-serif;
    color: $color-text-2;
    font-size: 19px;
    font-weight: lighter;
    text-align: center;
    max-width: 86%;
    margin: auto;
    line-height: 30px;
}

p{
    font-family: Roboto-Light, sans-serif;
    color: $color-text-2;
    font-weight: normal;
    text-align: center;
}

hr{
    max-width: 60%;
    margin-top: 60px;
    margin-bottom: 40px;
    height: 1px;
    border: 0;
    border-top: 1px solid $color-text-3;
}

a{
    color: $color-link-1;
}

a:hover{
    color: $color-link-2;
}

a:visited { 
    color: $color-link-3;
}