@import "../../css/global-vars.scss";

footer{
    color: $color-text-1;
    background-color: $color-bg-3;
    border-top: 2px solid $color-bg-4;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 45px;
}

footer p {
    color: $color-text-2;
}