@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "global-vars.scss";

@font-face { font-family: "Roboto-Regular"; src: url("../../../assets/fonts/Roboto-Regular.ttf"); }
@font-face { font-family: "RobotoCondensed-Regular"; src: url("../../../assets/fonts/RobotoCondensed-Regular.ttf"); }


body{
    user-select: none;
    font-family: Roboto-Regular, sans-serif;
    color: $color-text-1;
    background-color: $color-bg-1;
}


/** We globally disable the images dragging and selection to give a more app-like appearance to the project */
img{
    pointer-events: none; 
    user-select: none;
}